@charset 'utf-8';
/* @import 'reset.css';
@import 'common.css'; */

body, html {
    height: 100%;
}

/* #secBox {
    height: 100%;
} */

/* #secContainer {
    height: 100%;
} */
/* .mainSec {
    height: 100%;
} */

/* .mainSec #mainslide {
    height: 100%;
} */

#mainslide {
    width: 100%;
    /* height: 100%; */
}

.mainSec .slideouter {
    position: relative;
    height: 732px;
}

.mainSec .slideinner {
    /* height: 732px; */
    position: relative;
}

.mainSec .slideinner .slide {
    height: 732px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.mainSec .slideinner .slide:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: rgba(0, 0, 0, 0.5);
}

/* .mainSec .slide {
    height: 100%;
} */

.mainSec .slideinner .slide1 {
    background-image: url(../images/main01.jpg);
}

.mainSec .slideinner .slide2 {
    background-image: url(../images/main02.jpg);
}

.mainSec .slideinner .slide3 {
    background-image: url(../images/main03.jpg);
}


.mainSec .slide .text {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainSec .slide .text h6 {
    font-size: 25px;
    line-height: 30px;
    font-weight: normal;
    padding-bottom: 20px;
}

.mainSec .slide .text h2 {
    font-size: 120px;
    line-height: 110px;
}

.mainSec .slide .text h2 span {
    color: #28BDBE;
}

.mainSec .slide .text a {
    border: 1.5px solid #fff;
    padding: 10px 25px;
    color: #fff;
    font-weight: 700;
    font-size: 11px;
    margin: 25px 10px 0;
    transition: 0.5s;
    display: inline-block;
}

.mainSec .slide .text a:hover {
    background: #fff;
    color: #232323;
}


/* 슬릭 막대바 */
.mainSec .slideouter .slick-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.mainSec .slideouter .slick-dots li {
    display: inline-block;
    margin: 0 5px;
    height: 3px;
    width: 30px;
    border-radius: 0;
    background: rgba(255, 255, 255, 0.5);
    position: relative;
}

.mainSec .slideouter .slick-dots li.slick-active {
    background: rgba(255, 255, 255, 1);
}


/* section2 */
.mainSec #blog, .mainSec #workprocess {
    background: #060707;
    color: #fff;
    overflow: hidden;
}

.mainSec #blog .bloglist {
    position: relative;
    padding: 0 15px;
    /* height: 700px; */
    margin-right: auto;
    margin-left: auto;
}

.mainSec .bloglist ul li {
    float: left;
    padding: 50px 10px;
    width: 25%;
    text-align: center;
}

.mainSec .bloglist ul li a {
    display: block;
}

.mainSec .bloglist ul li h1 {
    font-size: 110px;
    line-height: 110%;
    font-weight: 600;
    color: #212525;
    transition: 0.5s;
}

.mainSec .bloglist ul li h1:hover {
    color: #25adae;
}

.mainSec .bloglist ul li .listdetail {
    padding: 40px 0;
    position: relative;
}

.mainSec .bloglist .listdetail h4 {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 1px;
    /* margin-bottom: 30px; */
    color: #28BDBE;
    font-weight: 500;
    transition: 0.5s;
    /* border-bottom: 1px solid #666;
    padding-bottom: 20px;
    width: 60%;
    margin: 0 auto; */
}

.mainSec .bloglist .listdetail hr {
    width: 50%;
    margin: 20px auto;
    border: 0.5px solid #666;
}

.mainSec .bloglist .listdetail .hrblue {
    position: absolute;
    width: 30%;
    border: 0.5px solid #28BDBE;
    top: 25.1%;
    left: 50%;
    transform: translate(-50%, -25.1%);
}

.mainSec .bloglist .listdetail h4:hover {
    color: #fff;
}

.mainSec .bloglist .listdetail img {
    display: inline-block;
    margin: 20px 0 15px;
}

.mainSec .bloglist .listdetail p {
    color: #939393;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 20px;
}

.mainSec .bloglist .listdetail span {
    display: inline-block;
    border: 2px solid #fff;
    font-size: 9px;
    padding: 1px 17px;
    line-height: 22px;
    font-weight: 500;
    transition: 0.5s;
}

.mainSec .bloglist .listdetail span:hover {
    background: #fff;
    color: #232323;
}

/* section 3 */
.mainSec .skyblue {
    position: relative;
    background-image: url(../images/homepage-9-parallax-img5.jpg);
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
    height: 345px;
}

.mainSec .skyblue .skybluebg {
    background: #28BDBE;
    height: 100%;
    width: 100%;
    opacity: 0.75;
}

.mainSec .skyblue ul li {
    float: left;
    padding: 130px 0;
    width: 25%;
    text-align: center;
    color: #000;
}

.mainSec .skyblue ul li h3 {
    font-size: 48px;
}

.mainSec .skyblue ul li span {
    font-size: 14px;
}

/* section title */
.mainSec .sectitle {
    margin-bottom: 4%;
    text-align: center;
    color: #fff;
}

.mainSec .sectitle h3 {
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 25px;
}

.mainSec .sectitle p {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 25px;
}

/* section 3 */
.mainSec #workprocess {
    padding: 130px 0;
    background: #151616;
}

.mainSec .process {
    width: 25%;
    float: left;
    text-align: center;
    padding: 0 15px;
}

.mainSec .process .circle {
    width: 130px;
    height: 130px;
    background-color: #212525;
    border-radius: 50%;
    line-height: 130px;
    margin: 0 auto;
}

.mainSec .process h6 {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin: 30px 0 5px;
}

.mainSec .process p {
    font-size: 14px;
    color: #6f6f6f;
    line-height: 24px;
    margin-bottom: 25px;
    margin: 0 32px;
}


/* readsection */
.mainSec .readwrap img:first-of-type {
    float: left;
    width: 50%;
    height: 444px;
}

.mainSec .readwrap img:last-of-type {
    float: right;
    width: 50%;
    height: 444px;
}

.mainSec .readmore:first-of-type {
    float: right;
}

.mainSec .readmore:last-of-type {
    float: left;
}

.mainSec .readmore {
    background: #000;
    color: #939393;
    width: 50%;
    height: 444px;
    padding: 8%;
    vertical-align: middle;
    text-align: center;
}

.mainSec .readmore h6 {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
}

.mainSec .readmore h4 {
    font-size: 25px;
    line-height: 26px;
    color: #fff;
    margin-bottom: 20px;
}

.mainSec .readmore p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 25px;
}

.mainSec .readmore span {
    font-size: 11px;
    padding: 10px 24px;
    padding-left: 40px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
    transition: 0.5s;
    position: relative;
}

.mainSec .readmore span:before {
    content: '\f144';
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    font-size: 16px;
    font-family:'Font Awesome 5 Free'; font-weight:900 !important;
}

.mainSec .readmore span:hover {
    background: #fff;
    color: #232323;
}

/* section portfolio */
.mainSec #pofolsec {
    background: #151616;
    padding: 130px 0;
}

.mainSec .pofolimg a {
    width: 33.33%;
    float: left;
    padding: 7px 7px;
}

.mainSec .pofolimg > div {
    position: relative;
}

.mainSec .pofolimg a {
    position: relative;
    display: inline-block;
}

.mainSec #pofolsec .pofolimg .overlay {
    position: absolute;
    overflow: hidden;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: 30px;
    background: #fff;
    opacity: 0;
    transition: 0.5s;
}

.mainSec #pofolsec .pofolimg a .pofolimgbox {
    overflow: hidden;
}

.mainSec #pofolsec .pofolimg div:hover .overlay {
    opacity: 1;
}

.mainSec #pofolsec .pofolimg img {
    transition: 0.3s;
}

.mainSec #pofolsec .pofolimg div:hover img {
    transform: scale(1.1);
    filter: blur(4px);
}

.mainSec .pofolimg .copy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mainSec .pofolimg .copy h6 {
    text-align: center;
    font-size: 16px;
    color: #232323;
    margin-bottom: 5px;
}

.mainSec .pofolimg .copy p {
    text-align: center;
    font-size: 12px;
    color: #939393;
}

/* section promote */
.mainSec #promote .partwrap > div:first-of-type {
    background-image: url(../images/bg-footbanner-01.jpg);
    float: left;
    width: 50%;
    height: 420px;
    position: relative;
}

.mainSec #promote .partwrap > div:last-of-type {
    background-image: url(../images/colorfulBG.jpg);
    float: right;
    width: 50%;
    height: 420px;
    position: relative;
}

.mainSec .part:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: rgba(0, 0, 0, 0.5);
}

.mainSec .partcopy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    color: #fff;
    text-align: center;
}

.mainSec .partcopy i {
    font-size: 60px;
    margin-bottom: 25px;
}

.partcopy h3 {
    font-size: 40px;
    margin-bottom: 5px;
    text-align: center;
}

.partcopy p {
    font-size: 14px;
    color: #d6d5d5;
    margin-bottom: 30px;
    text-align: center;
    line-height: 24px;
}

.mainSec .partcopy span {
    text-align: center;
    border: 2px solid #fff;
    padding: 10px 29px;
    border-radius: 30px;
    font-size: 11px;
    transition: 0.5s;
}

.mainSec .partcopy span:hover {
    background: #fff;
    color: #232323;
    cursor: pointer;
}